<link rel="stylesheet" href="static/css/second1.css">
<link rel="stylesheet" href="static/css/mainbutton.css">
<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">

            <a href="http://127.0.0.1:5000/authors">
                <button class="button button1">Get All Authors </button>
            </a>

            <a href="{{ url_for('search_authors_page') }}">
                <button class="button button2">Search A Author</button>
            </a>
            <button class="button button3">Red</button>
            <button class="button button4">Gray</button>
            <button class="button button5">Black</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>