
<head style = "width = 100%"></head>
<link rel="stylesheet" href="static/css/second1.css">
<link rel="stylesheet" href="static/css/mainbutton.css">
<link rel="stylesheet" href="static/css/table.css">
<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">

<!--            <div style="border: 3px solid; color : white; margin-bottom: 20px; border-style: dashed;-->
<!--    border-radius: 9px; padding: 10px;">-->
                <div class="table-wrapper">
                    <table class="fl-table">
                    <thead>
                    <tr>
                       <th>No of Auth.</th>
                        <th>Authors</th>
                        <th>Research Article</th>
                    </tr>
                    </thead>

                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            [&#39;Gregory Maguire&#39;, &#39;Haluk Ogmen&#39;, &#39;Simon X. Yang&#39;]
                        </td>
                        <td>
                            Neural computations in the tiger salamander and mudpuppy outer retinae and an analysis of GABA action from horizontal cells
                        </td>
                    </tr>

                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            [&#39;Noriaki Kiyohiro&#39;, &#39;Hiroshi Makino&#39;, &#39;Hideo Mori&#39;]
                        </td>
                        <td>
                            Robot contest “Robocon Yamanashi”
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            [&#39;Karen Hogenboom&#39;]
                        </td>
                        <td>
                            Change of State: Information, Policy and Power. Sharon Braman. Cambridge, MA: MIT Press, 2006. 545 pp. $20.00 (paperback), ISBN-13 978-0-262-02597-3. Reprint edition (September 2009), ISBN-10 0-262-51324-2
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            [&#39;Elizabeth Vargis&#39;, &#39;Cynthia Hanson&#39;]
                        </td>
                        <td>
                            Alternative cDEP Design to Facilitate Cell Isolation for Identification by Raman Spectroscopy
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            [&#39;Ralf Hemmecke&#39;]
                        </td>
                        <td>
                            Dancing samba with Ramanujan partition congruences
                        </td>
                    </tr>

                    <tr>
                        <td>
                            7
                        </td>
                        <td>
                            [&#39;Antony K. Liu&#39;, &#39;Zhiguo He&#39;, &#39;Juan Wang&#39;, &#39;Jingsong Yang&#39;, &#39;Ming-Kuang Hsu&#39;, &#39;Liying Zhou&#39;, &#39;Shuangyan He&#39;]
                        </td>
                        <td>
                            Spatio-temporal distribution of internal waves in the Andaman Sea based on satellite remote sensing
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            [&#39;Joan E. Beaudoin&#39;]
                        </td>
                        <td>
                            Annual Review of Cultural Heritage Informatics: 2012-2013. Edited by Samantha K.Hastings. Lanham, MD: Rowman &amp; Littlefield, 2014. 290 pp. $85.00 (hardcover). (ISBN 9780759123335)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            [&#39;Eric Heim&#39;, &#39;Christian Stock&#39;, &#39;Tobias L. Ross&#39;, &#39;Alexander Seitel&#39;, &#39;Lena Maier-Hein&#39;]
                        </td>
                        <td>
                            Abstract: Clickstreamanalyse zur Qualitätssicherung in der crowdbasierten Bildsegmentierung
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            [&#39;Marcy M. Allen&#39;]
                        </td>
                        <td>
                            The Ever-Shifting Internet Population: A New Look At Internet Access and the Digital Divide, Amanda Lenhart (Ed.). The Pew Internet &amp; American Life Project, Washington, DC (2003).
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            [&#39;Srikanth V. Tenneti&#39;, &#39;P. P. Vaidyanathan&#39;]
                        </td>
                        <td>
                            Detection of protein repeats using the Ramanujan Filter Bank
                        </td>
                    </tr>

                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            [&#39;Anja Boisen&#39;, &#39;Tommy Sonne Alstrøm&#39;, &#39;Mikkel N. Schmidt&#39;, &#39;Jan Larsen&#39;, &#39;Tomas Rindzevicius&#39;]
                        </td>
                        <td>
                            A pseudo-Voigt component model for high-resolution recovery of constituent spectra in Raman spectroscopy
                        </td>
                    </tr>

                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            [&#39;Jouni Holma&#39;, &#39;Jan Nissinen&#39;, &#39;Juha Kostamovaara&#39;, &#39;Ilkka Nissinen&#39;]
                        </td>
                        <td>
                            Characterization of the Timing Homogeneity in a CMOS SPAD Array Designed for Time-Gated Raman Spectroscopy
                        </td>
                    </tr>

                    <tr>
                        <td>
                            7
                        </td>
                        <td>
                            [&#39;Jianwei Qin&#39;, &#39;Yankun Peng&#39;, &#39;Moon S. Kim&#39;, &#39;Diane E. Chan&#39;, &#39;W. Schmidt&#39;, &#39;Sagar Dhakal&#39;, &#39;Kuanglin Chao&#39;]
                        </td>
                        <td>
                            A Spatially Offset Raman Spectroscopy Method for Non-Destructive Detection of Gelatin-Encapsulated Powders
                        </td>
                    </tr>

                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            [&#39;Tibor Jordán&#39;, &#39;Zsolt Fekete&#39;, &#39;Walter Whiteley&#39;]
                        </td>
                        <td>
                            An inductive construction for plane laman graphs via vertex splitting
                        </td>
                    </tr>

                    <tr>
                        <td>
                            7
                        </td>
                        <td>
                            [&#39;Xin Zhang&#39;, &#39;Haijun Xu&#39;, &#39;Haiyan Teng&#39;, &#39;Yongmei Zhao&#39;, &#39;Mingyang Lv&#39;, &#39;Zhenglong Wu&#39;, &#39;Luo Liu&#39;]
                        </td>
                        <td>
                            Quantitative Detection of NADH Using a Novel Enzyme-Assisted Method Based on Surface-Enhanced Raman Scattering
                        </td>
                    </tr>

                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            [&#39;Zhi Sun&#39;, &#39;Hongzhi Guo&#39;, &#39;Qiaoqiang Gan&#39;, &#39;Josep Miquel Jornet&#39;]
                        </td>
                        <td>
                            Cooperative Raman Spectroscopy for Real-time In Vivo Nano-biosensing
                        </td>
                    </tr>

                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            [&#39;Minh Hoang Trinh&#39;, &#39;Shiyu Zhao&#39;, &#39;Daniel Zelazo&#39;, &#39;Zhiyong Sun&#39;, &#39;Hyo-Sung Ahn&#39;]
                        </td>
                        <td>
                            Laman Graphs are Generically Bearing Rigid in Arbitrary Dimensions.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            [&#39;Cassandra Book&#39;]
                        </td>
                        <td>
                            Tracy Bridgeford and Kirk St.Amant
                        </td>
                    </tr>

                    <tr>
                        <td>
                            8
                        </td>
                        <td>
                            [&#39;Zeki Naal&#39;, &#39;Michael González-Durruthy&#39;, &#39;José M. Vázquez-Naya&#39;, &#39;David T. Atique-Sawazaki&#39;, &#39;Cristian R. Munteanu&#39;, &#39;Humberto González-Díaz&#39;, &#39;Luciane C. Alberici&#39;, &#39;Carlos Curti&#39;]
                        </td>
                        <td>
                            Experimental–Computational Study of Carbon Nanotube Effects on Mitochondrial Respiration: In Silico Nano-QSPR Machine Learning Models Based on New Raman Spectra Transform with Markov–Shannon Entropy Invariants
                        </td>
                    </tr>

                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            [&#39;Ines Delfino&#39;, &#39;M. Lepore&#39;, &#39;Rosarita Tatè&#39;, &#39;M. Portaccio&#39;, &#39;C. Camerlingo&#39;]
                        </td>
                        <td>
                            Fructose and Pectin Detection in Fruit-Based Food Products by Surface-Enhanced Raman Spectroscopy
                        </td>
                    </tr>

                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            [&#39;Renato Assunção&#39;, &#39;Pedro O. S. Vaz de Melo&#39;, &#39;Raquel Y. S. Aoki&#39;]
                        </td>
                        <td>
                            Medindo o tamanho da caixinha de surpresas em ligas de futebol.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            [&#39;Gauthier Picard&#39;, &#39;Olivier Boissier&#39;, &#39;Amro Najjar&#39;]
                        </td>
                        <td>
                            AQUAMan: An Adaptive QoE-Aware Negotiation Mechanism for SaaS Elasticity Management.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            [&#39;Lufeng Leng&#39;]
                        </td>
                        <td>
                            Impact of multiple-path interference on the performance of coherent transmission systems employing distributed Raman amplification
                        </td>
                    </tr>

                </table>
            </div>
            <!-- </div>-->

			<a href="/">
				<div class="form-button mt-3">
				  <button id="submit" type="Home Page" class="button button3"> Back </button>
				</div>
			</a>
        </div>
      </div>
    </div>
  </div>
</div>